.chat-container {
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-container {
    width: 75%;
    padding: 20px;
    background-color: rgba(98, 98, 221, 0.35);
    margin-right: 20px;
}
.right-container {
    width: 25%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.messages-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 330px;
    overflow-y: auto; /* 스크롤 가능하도록 */
    padding-right: 20px;
}

.chat-message {
    margin: 7px 0;
    padding: 13px;
    border-radius: 10px;
    background-color: #e6f7ff; /* 메시지 배경색 */
    max-width: 60%;
    width: fit-content; /* 내용에 맞게 너비 조절 */
}
.chat-message.own {
    background-color: rgb(255, 249, 203); /* 사용자가 보낸 메시지 배경 색상 */
    align-self: flex-end; /* 오른쪽 정렬 */
}

.chat-message.other {
    background-color: #ededed; /* 다른 사용자의 메시지 배경 색상 */
    align-self: flex-start; /* 왼쪽 정렬 */
}

.message-time {
    display: block;
    font-size: 0.8em;
    color: #888; /* 시간 텍스트 색상 */
    margin: 0 10px 10px 10px;
}

.chat-image {
    max-width: 100%;
    width: fit-content; /* 내용에 맞게 너비 조절 */
    height: auto;
    border-radius: 5px; /* 둥근 모서리 */
    margin-top: 5px; /* 메시지와의 간격 */
}

.chat-video {
    max-width: 100%;
    height: auto;
    width: fit-content; /* 내용에 맞게 너비 조절 */
    border-radius: 10px; /* 둥근 모서리 */
    margin-top: 5px; /* 메시지와 비디오 간의 간격 */
}

.preview-container {
    width: fit-content; /* 내용에 맞게 너비 조절 */
    border: 1px solid #a6a4a4;
    border-radius: 10px;
    padding: 10px 5px;
}

.preview-container img {
    max-width: 100px;
    max-height: 100px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info-container {
    margin-top: 30px;
    height: 85%;
    padding: 10px;
    padding-top: 30px;
    border-radius: 10px;
    background-color: #DBF3FFFF;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 가능 */
}