.usage-container {
    margin: 20px 50px;
}

.usage-card-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.usage-card {
    width: 30%; /* 카드 너비를 30%로 설정 */
    margin: 20px 10px;
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 8px; /* 둥근 모서리 */
    padding: 10px; /* 내부 여백 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.gray-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #aaaaaa;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: none;
}

.gray-button:hover {
    background-color: #272727;
    color: white;
}